<!DOCTYPE html>
<html>
<head data-th-fragment="head">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link type="text/css" rel="stylesheet" data-th-href="@{/css/normalize.min.css}"/>
    <link type="text/css" rel="stylesheet" data-th-href="@{/css/skeleton.min.css}"/>
    <link type="text/css" rel="stylesheet" data-th-href="@{/css/styles.css}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<th-block data-th-fragment="nav">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="title">Security App</a>
            <span class="filler"></span>
            <a data-th-href="@{/register}" class="button" data-th-if="${isLoggedIn}">Create User</a>
            <a data-th-href="@{/command}" class="button" data-th-if="${isLoggedIn}">Systemcommand</a>
            <form data-th-action="@{/logout}" method="post" data-th-if="${isLoggedIn}">
                <input type="hidden" data-th-attr="name=${_csrf.parameterName},value=${_csrf.token}"/>

                <button type="submit" class="button-primary">Logout</button>
            </form>
        </div>
    </nav>
</th-block>
<div class="site-header" data-th-fragment="site_header(icon, title)">
    <i class="material-icons" data-th-replace="${icon}"></i>
    <h3 data-th-replace="${title}"></h3>
    <h4 data-th-if="${isLoggedIn}">
        <i class="material-icons">person</i>
        <span data-th-text="${currentUser.username}"></span>
    </h4>
</div>
</body>
</html>