<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head data-th-replace="base::head">
</head>
<body>
<nav data-th-replace="base::nav"></nav>
<section class="content">
    <div data-th-replace="base::site_header(~{::#title}, _)">
        <h3 id="title">Command Execution</h3>
    </div>
    <form data-th-action="@{/command/execute}" method="get">
        <div class="row">
            <div class="command-container four columns">
                <h5>ipconfig</h5>
            </div>
            <div class="six columns">
                <label for="argument">Arguments</label>
                <input type="text" name="sysopt" id="argument">
            </div>
        </div>
        <div class="row">
            <div class="columns">
                <input type="submit" value="Run"/>
            </div>
        </div>
    </form>
    <div>
        <h5>Result:</h5>
        <p th:text="${result}" th:if="${result}">Test</p>
    </div>
</section>
</body>
</html>