<!DOCTYPE html>
<html>
<head data-th-replace="base::head">
</head>
<body>
<nav data-th-replace="base::nav"></nav>
<section class="content">
    <div data-th-replace="base::site_header(~{::i}, ~{::#title})">
        <i class="material-icons">developer_board</i>
        <h3 id="title">Command Execution</h3>
    </div>
    <form data-th-action="@{/command/execute}" method="get">
        <div class="row">
        </div>
        <div class="row">
            <div class="four columns">
                <b>Command</b><br>
                <h5 data-th-text="${commandName}"></h5>
            </div>
            <div class="eight columns">
                <label for="argument">Arguments</label>
                <input class="u-full-width" type="text" name="sysopt" id="argument" data-th-value="${arguments}">
            </div>
        </div>
        <button class="u-full-width button-primary" type="submit">Run</button>
        <div data-th-if="${result}" data-th-class="${type}">
            <h5>Result:</h5>
            <p data-th-each="resultLine : ${result}" class="command-result" data-th-text="${resultLine}"></p>
        </div>
    </form>
</section>
</body>
</html>