<!DOCTYPE html>
<html>
<head data-th-replace="base::head(~{::title})">
    <title>Security App - Login</title>
</head>
<body>
<nav data-th-replace="base::nav"></nav>
<section class="content">
    <div data-th-replace="base::site_header(_, ~{::#title})">
        <h3 id="title">Login</h3>
    </div>
    <form data-th-action="@{/do-login}" method="post">
        <div class="row error" data-th-if="${session.SPRING_SECURITY_LAST_EXCEPTION}">
            <div class="columns">
                <p data-th-text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"></p>
            </div>
        </div>
        <div class="row">
            <div class="columns">
                <label for="username">Username</label>
                <input type="text" name="user" id="username">
            </div>
        </div>
        <div class="row">
            <div class="columns">
                <label for="password">Password</label>
                <input type="password" name="pass" id="password">
            </div>
        </div>
        <div class="row">
            <div class="columns">
                <button class="button-primary" type="submit">Login</button>
            </div>
        </div>
    </form>
</section>
</body>
</html>